# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Configurações do VsCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivo de variáveis sensíveis (API key, senha etc.)
.env

# Arquivo de cookies do youtube
cookies.txt

# Pasta onde são baixados os vídeos e áudios
downloads

# Estudos durante o projeto
estudos